<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/admin/head.ejs') %>
    <body>
        <div class="container-fluid">
            <div class="row">
                <section class="vh-100" style="background-color: #508bfc">
                    <div class="container py-5 h-100">
                        <% if (message) { %>
                        <div class="alert alert-danger" id="registerRepeatPasswordMsg" role="alert"><%= message %></div>
                        <% } %>
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                <div class="card shadow-2-strong" style="border-radius: 1rem">
                                    <div class="card-body p-5 text-center">
                                        <h3 class="mb-5">Admin Login</h3>

                                        <form id="loginForm" action="/admin/login" method="post">
                                            <div class="form-outline mb-4">
                                                <input
                                                    name="email"
                                                    type="email"
                                                    id="email"
                                                    class="form-control form-control-lg"
                                                />
                                                <label class="form-label" for="email">Email</label>
                                            </div>
                                            <p style="display: none" class="text-danger" id="emailError" role="alert"></p>

                                            <div class="form-outline mb-4">
                                                <input
                                                    type="password"
                                                    name="password"
                                                    id="password"
                                                    class="form-control form-control-lg"
                                                />
                                                <label class="form-label" for="password">Password</label>
                                            </div>
                                            <p
                                                style="display: none"
                                                class="text-danger"
                                                id="passwordError"
                                                role="alert"
                                            ></p>

                                            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script type="text/javascript" src="/js/adminLoginValidate.js"></script>
        <%- include('../partials/admin/tail.ejs') %>
    </body>
</html>
